<apex:page controller="LinkedInIntegrationController">
 <apex:form >
 <apex:outputLink value="{!authorizationCodeURI}">Authorize Me</apex:outputLink><br/>
 <apex:inputText value="{!text}"/><br/>
 <apex:commandButton value="Post" action="{!post}"/>
 <apex:commandButton value="Delete" action="{!postDelete}"/>
 </apex:form>  
 <div>body : {!body}</div>
 <div>responseBody : <br/><br/>{!responseBody}</div>
</apex:page>