<apex:page standardController="Account" extensions="AccEditController" id="pg" showHeader="false" sidebar="false" title="View Account" > 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- <script type="text/javascript">
     var $j = jQuery.noConflict();


    function makeEditable(){
        //alert(document.getElementById('pg:frm:pb:pbs:pbs2:ssnId'));
        document.getElementById('pg:frm:pb:pbs:pbs2:perNameId').disabled = false; 
    }

    function doRefreshAndClose(pageMsgRendered){

      if(pageMsgRendered==false){ 
        window.opener.location.href="/{!$CurrentPage.parameters.id}";
        window.top.close(); 
      } 

  }



</script> -->
<apex:form >
 <apex:pageBlock id="pb" mode="inlineEdit" >
        <apex:pageBlockButtons location="top" >             
            <apex:commandButton value="Close" style="margin-left:0%;" action="{!cancelAcc}"/>
            <apex:commandButton id="editButton" value="Edit" disabled="{!editDisabled}" action="{!makeEditable}"/>
            <apex:commandButton id="saveButton" value="Save" style="margin-left:20%;"  disabled="{!editDisabled}" action="{!savePerName}" />

            <apex:commandButton id="cancelButton" value="Cancel" action="{!cancelAcc}"/>  
        </apex:pageBlockButtons>
        <apex:pageMessages id="pageMsg" escape="false" /> 
        <apex:pageBlockSection id="pbs" columns="1" >
            <apex:pageBlockSectionItem id="pbs1">
                <apex:outputText >Name</apex:outputText>
                <apex:outputLabel value="{!name}" />
            </apex:pageBlockSectionItem>
            <br/>               
            <apex:pageBlockSectionItem id="pbs2" >

                <apex:outputField value="{!account.PerName__c}" id="perNameId" >
                	<apex:inlineEditSupport showOnEdit="saveButton, cancelButton" hideOnEdit="editButton" event="ondblclick" 
                        changedStyleClass="myBoldClass" resetFunction="resetInlineEdit"/>
                </apex:outputField>

            </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
        <apex:pageBlock >
        <apex:pageBlockTable value="{!accList}" var="a">
        	<apex:column ><apex:commandLink value="Utilizar" action="{!showAccount}">
                    <apex:param name="accId" value="{!a.Id}" assignTo="{!accId}"/>
                </apex:commandLink></apex:column>
        </apex:pageBlockTable>
        </apex:pageBlock>
        <!--  -->
    </apex:pageBlock>  
    
    
    <apex:actionFunction name="action1" action="{!action1}" rerender="scriptPanel" />

 <apex:outputPanel id="scriptPanel">
 <script>
 var xy="{!xy}";
 console.log('outside inteval' + xy);
 setInterval(function(){
console.log('inside inteval' + xy);
 action1(); 
 },10000);
 
 </script>
 </apex:outputPanel>
 
 <apex:commandButton value="Rerender" onclick="action1(); return false;"/>
         
</apex:form>    
</apex:page>